<!
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de Ninjas</title>
</head>
<body>
    <h1>Lista de Ninjas</h1>
<table>
    <thead>
        <tr>
            <th>Imagem</th>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Email</th>
            <th>Rank</th>
            <th>Missões</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each ="ninja: ${ninjas}">
        <td> <img th:src="${ninja.imgUrl}"> </td>
        <td th:text="${ninja.id}"> </td>
    </tr>
    </tbody>
</table>
</body>
</html>